server:
  servlet:
    context-path:
  port: 8089
spring:
  datasource:
    url: jdbc:mariadb://dcrhg4kh56j13bnu.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/hubzph6643i875xn
    username: zbh8886q75j4h2fw
    password: k72pnrbpdbg8zlxs
    driver-class-name: org.mariadb.jdbc.Driver
    initialize: true
  jpa:
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDB103Dialect
  config:
    activate:
      on-profile:
